---
layout: default
---

<div class="content">

    <div class="nav">
        <h1 class="icon-home"> All posts</h1>
        <a class="icon-blog" title="Show posts without projects." href="/posts/"> Blog posts</a>
        <a class="icon-code" title="Show projects only." href="/projects/"> Projects</a>
        <div class="reset"></div>
    </div>

    {% for post in paginator.posts %}

        {% include post.html %}

    {% endfor %}

</div>

<div class="paginate">
  
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="button active"><<</a>
    {% else %}
        <a class="button noselect">&nbsp;</a>
    {% endif %}
        <span class="noselect">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="button active">>></a>
    {% else %}
        <a class="button noselect">&nbsp;</a>
    {% endif %}
    
</div>