<div class="links">
    <a title="Go up." href="#" class="icon-up"> Scroll up</a>
    <a title="My YouTube channel." href="https://www.youtube.com/user/ThePajadamPL" 
       class="icon-youtube" rel="nofollow"> YouTube</a>
    <a title="My GitHub account." href="https://github.com/pajadam" 
       class="icon-code" rel="nofollow"> GitHub</a>
    <a title="About me" href="https://pajadam.me" class="icon-about"> About me</a>
    <div class="reset"></div>
</div>

<div class="copyright">
    &copy; Copyright by <em>
    <a title="Adam Pajkert < software developer > ( pajadam )" 
       href="https://pajadam.me">Adam Pajkert</a></em>
</div>