---
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
    <meta id="disqus-data" data-url="{{ site.url }}{{ page.url | replace:'index.html',''}}" data-identifier="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <script type="text/javascript" defer src="/data/js/disqus.js"></script>
  </head>

  <body>

    <header>
        {% include header.html %}
    </header>

    <main>

      <div class="container">

        <div class="content">
            <article>

              <div class="post">
                  <header>
                    <div class="title">{{ page.title }}</div>
                    <div class="date">{{ page.date | date: '%B %d, %Y' }} by <em>{{ site.author }}</em></div>
                  </header>

                  <div class="text">
                    {{ content }}
                  </div>
                  <div class="divider"></div>
              </div>

              <article>
                <div class="post">
                    <div class="title">Comments</div>

                    <div id="disqus_thread"></div>
                </div>

              </article>

              <footer>
                <div class="post">
                  <a title="Home page" href="/" class="button icon-home"> Homepage</a>
                  <a title="Blog posts" href="/posts/" class="button icon-blog"> Blog posts</a>
                  <a title="Projects" href="/projects/" class="button icon-code"> Projects</a>
                </div>
              </footer>

            </article>
        </div>

      </div>

    </main>

    <footer class="content">
        {% include footer.html %}
    </footer>

  </body>

</html>