<!DOCTYPE html>
<html lang="en">

  <head>    
    {% include head.html %}
  </head>

  <body>

    <header>
        {% include header.html %}
    </header>
    
    <div class="container">

      <div class="content">

          <div class="post">
              <div class="title">{{ page.title }}</div>
              <div class="date">{{ page.date | date: '%B %d, %Y' }} by <em>{{ site.author }}</em></div>

              <div class="text">
                {{ content }}
              </div>

              <a title="Home page" href="/" class="button icon-home"> Homepage</a>
              <a title="Blog posts" href="/posts/" class="button icon-blog"> Blog posts</a>
              <a title="Projects" href="/projects/" class="button icon-code"> Projects</a>

          </div>

      </div>
        
    </div>

    <footer class="content">
        {% include footer.html %}
    </footer>
    
  </body>

</html>